*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100vh;
    width: 100vw;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: #61677A;
    display: flex;
    align-items: center;
    justify-content: center;

}
.template{
    height: 80vh;
    width: 24vw;
    border-radius: 5px;
    border: 1px solid #111;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    
}
.story-template{
    /* background-color: aqua; */
    height: 120px;
    width: 100%;
    white-space: nowrap;
    padding: 15px;
    border-bottom: 1px solid #dadada;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.story-template::-webkit-scrollbar{
    display: none;
}
.story{
    margin-right: 10px;
    height:90px;
    width: 90px;
    overflow: hidden;
    /* background-color: red; */
    border-radius: 50%;
    border: 3px solid red ;
    display: inline-block;

}
.story img{
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
    transition: all ease-in 0.3s;
}